body {
  background-color: #889edf;
  color: #b0e0e6;
  font-size: 1.25em;
}
h1 {
  font-family: cursive;
  color: #b0e0e6;
  text-align: center;
  padding-bottom: 1em;
}


/*.container {
  text-align: justify;
  padding: 10px;
  margin: auto;
}*/

.jumbotron {
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 5%;
  color: #b0e0e6;
  /*background-color: white;*/
}
#coding {
  border-radius: 15%;
  max-height: 70%;
}

.front-end, .back-end {
  display: none;
  /*font-size: 1.25em;*/
  font-family: Verdana;
  text-align: justify;
}

h2 {
  font-family: Verdana;
  padding-bottom: 10px;
  font-style: italic;
}

#top {
  text-align: center;
}

ul {
  text-align: justify;
}

img {
  float: center;
  width: 225px;
  height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

li {
  /*font-size: 1em;*/
  padding-bottom:10px;
}

.experience {
  display: none;
}

.full-time {
  display: none;
}

.part-time {
  display: none;
}

p {
  padding-top: 18px;
  padding-bottom: 5px;
  /*font-size: 1em;*/
}

#yes-pairs, #not-so-much {
  display: none;
}
